Source: live-initramfs
Section: misc
Priority: optional
Maintainer: Michael Prokop <mika@grml.org>
Build-Depends: debhelper (>= 5), dpatch
Build-Depends-Indep: asciidoc, docbook-xsl, xsltproc
Standards-Version: 3.8.0
Homepage: http://debian-live.alioth.debian.org/
Vcs-Browser: http://git.grml.org/?p=live-initramfs-grml.git
Vcs-Git: git://git.grml.org/live-initramfs-grml.git
XS-Upstream-Depends: git-core

Package: live-initramfs
Architecture: all
Depends: ${misc:Depends}, busybox, file, initramfs-tools, sudo, udev, user-setup
Recommends: cryptsetup, eject, uuid-runtime, wget
Suggests: loop-aes-utils, curlftpfs, genext2fs (>= 1.4.1), httpfs2, squashfs-tools, mtd-tools
Description: Debian Live initramfs hook
 live-initramfs is a hook for the initramfs-tools, used to generate a initramfs
 capable to boot live systems, such as those created by live-helper. This
 includes the Debian Live isos, netboot tarballs, and usb stick images.
 .
 At boot time it will look for a (read-only) media containing a "/live"
 directory where a root filesystems (often a compressed filesystem image like
 squashfs) is stored. If found, it will create a writable environment, using
 aufs or unionfs, for Debian like systems to boot from.
 .
 You probably do not want to install this package onto a non-live system,
 although it will do no harm.
 .
 live-initramfs is a fork of casper <http://packages.ubuntu.com/casper/>.
 .
 Please notice that this package is maintained by the grml.org team.
 This is NOT a fork of Debian's live-initramfs, it's just a customized
 version to better fit grml's needs.
